.header{
    text-align: center;
}
.logo{
    height: 30px;
    padding: 10px;
    margin-left: auto;
}
.header nav {
    background-color: black;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
}
